@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    background-color: #a8f1c0;
}

#div_header{
    width: 100vw;
    background-color: #83c483;
}

header{
    padding: 10px;
    text-align: center;
    color: #233521;
}

#h1_header{
   font-size: 2em;
}

#h2_header{
    font-size: 1.2em;
}

#nav_header{
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

#nav_header > a {
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    font-weight: bold;
    font-size: .7em;
    color: #233521;
    transition-duration: .6s;
}

#select{
    background-color: #a8f1c0;
    border-radius: 10px 10px 0 0;
}

#nav_header > a:hover{
    background-color: azure;
    border-radius: 10px 10px 0 0;
    transition-duration: 0.6s;
}

/* main */

#main_home{
    text-align: center;

}

#main_home > h1{
    position: relative;
    left: 30px;
    font-size: 1.5em;
    padding: 7px;
    margin-top: 13px;
    width: 350px;
    border-radius: 10px;
    border:2px solid #1a221a;
    background-color: #83c483;
    color: #1a221a;
}

#main_home > div{
    position: relative;
    left: 100px;
    border: 1px solid black;
    padding: 10px;
    width: 40%;
    height: 100px;
    margin: 20px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.568);
    transition-duration: 0.8s;
}
#main_home > div:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.568);
    transition-duration: 0.8s;
}

#main_home > div > a{
    font-size: 1.3em;
    text-decoration: none;
    color: #233521;
    font-weight: bold;
}

footer{
    background-color: #1a221a;
    text-align: center;
}

#nav_footer > a{
    text-decoration: none;
    color: #fff;
}
